.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 2px solid;
}

.errorMessage {
  color: red;
}

.activeFilter {
  background: skyblue;
  margin: 3px;
}
.button {
  margin: 3px;
}
.isDone {
  opacity: 0.5;
}